:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #24273a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;

  min-width: 320px;
  min-height: 100vh;
}
.article-list-item {
  margin: 0;
  padding: 0;
  background-color: #1e2030;
  border-bottom: solid rgb(128, 135, 162);
}

.article-list-item > img {
  margin-top: 1em;
  width: 50%;
}

.article-img {
  width: 25%;
}

.nav-list {
  width: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: space-around;
  background-color: rgb(128, 135, 162);
  color: #1e2030;
}

.nav-list > a {
  color: #1e2030;
}
