@import url("https://fonts.googleapis.com/css2?family=Monofett&display=swap");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #24273a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 320px;
  min-height: 100vh;
}

/* article list items with grid setup */
.article-list-item {
  margin: 0;
  padding: 2rem;
  background-color: #1e2030;
  border-bottom: solid rgb(128, 135, 162);
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.article-list-item > img {
  margin-top: 1em;
  width: 100%;
  grid-row: 1;
}
.article-list-item > a {
  grid-column: 2;
}
.article-list-item > span {
  padding: 1em;
  grid-column: 2;
}

.ratings-comments {
  grid-row: 2;
  grid-column: 3;
  margin: 0;
}
.date-posted {
  grid-column: 1;
  grid-row: 2;
  margin: 0;
}

@media (max-width: 40em) {
  .article-list-item {
    grid-template-columns: 1fr 1fr;
  }
  .ratings-comments {
    grid-row: 2;
    grid-column: 2;
    margin: 0;
  }
  .date-posted {
    grid-column: 1;
    grid-row: 2;
    margin: 0;
  }
}

/* article full */
.article-img {
  width: 25%;
}
article {
  padding: 1em;
}

/* comment card /w grid */
.comment-card {
  display: grid;
  grid-template-columns: 0.25fr 1fr 0.5fr;
  background-color: #303446;
}
.comment-body {
  grid-column: span 2;
  grid-column-start: 2;
  grid-row: 1;
}
.comment-username {
  grid-column: 1;
}
.comment-votes {
  grid-column: 3;
}

.comment-date {
  grid-column: 2;
  grid-row: 2;
}
.avatar-img {
  max-width: 5em;
  grid-column: 1;
}

.vertical-vote-buttons {
  grid-column: 3;
  grid-row: 1;
}
/* optimistically hide comment card on delete */
.hide {
  display: none;
}
/* horizontal vote buttons */
.horizontal-vote-buttons {
  padding-inline: 3em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.horizontal-vote-buttons > .upvote {
  grid-column: 3;
  grid-row: 1;
}
.horizontal-vote-buttons > .downvote {
  grid-column: 1;
  grid-row: 1;
}
.horizontal-vote-buttons > .vote-num {
  grid-column: 2;
  grid-row: 1;
}

/* vertical vote buttons */
.vertical-vote-buttons {
  padding-inline: 3em;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}
.vertical-vote-buttons > .upvote {
  grid-row: 1;
}
.vertical-vote-buttons > .downvote {
  grid-row: 3;
}
.vertical-vote-buttons > .vote-num {
  grid-row: 2;
}

/* nav */
.nc-news-wordmark {
  font-family: "Monofett", serif;
}
.nav-list {
  display: flex;

  padding: 1rem;
  list-style: none;
  justify-content: space-around;
  background-color: rgb(128, 135, 162);
  color: #1e2030;
  text-decoration: none;
}
.nav-list > *:hover {
  background-color: rgba(255, 255, 255, 0.87);
  border-radius: 1em;
  padding: 0.5em;
  padding-bottom: 1em;
  text-decoration: underline;
}

.nav-list > * {
  color: #1e2030;
  padding: 0.5em;
  text-decoration: none;
}
